# PART 4: Prepare Author and Institution Data For Admin Import

This notebook formats the authors and institution and writes and affiliated_with relationships into csvs for admin import.

Unlike Part 3 preparing paper nodes, these elements do not have any properties and as such this notebook runs much faster and does not require a chunking methodology .... at least on my machine.

In [1]:
from ogb.lsc import MAG240MDataset
import numpy as np
import pandas as pd
import dask.dataframe as dd

In [2]:
ROOT_DATA_DIR = '/data'
dataset = MAG240MDataset(root = ROOT_DATA_DIR)

### ID Offsets

To create a universal long id for nodes, we will offset the ogb index values for authors and institutions. This avoids id collisions across node labels.  

Note that Neo4j also allows for the partitioning of unique id by label: https://neo4j.com/docs/operations-manual/current/tools/neo4j-admin/neo4j-admin-import/#import-tool-id-spaces. My decision to offset ids this way to achieve a global node index is merely personal preference.

In [3]:
AUTHOR_ID_OFFSET = 10_000_000_000 #10B
INSTITUTION_ID_OFFSET = AUTHOR_ID_OFFSET + 10_000_000_000 #10B

## Prepare Author Data

In [4]:
#get edge index into dask df
writes_ddf = dd.from_pandas(pd.DataFrame(dataset.edge_index('author', 'paper').T,
                                columns = [":START_ID",":END_ID"]), npartitions=100)

In [5]:
# offset author index (start id)
writes_ddf[':START_ID'] = writes_ddf[':START_ID']+ AUTHOR_ID_OFFSET
writes_ddf.compute()

             :START_ID   :END_ID
0          10000000000  17776550
1          10000000000  22232787
2          10000000000  22359844
3          10000000000  34644458
4          10000000000  59079951
...                ...       ...
386022715  10122383107  83933134
386022716  10122383108  99252845
386022717  10122383109  99252845
386022718  10122383110  99252845
386022719  10122383111  99252845

[386022720 rows x 2 columns]

In [6]:
# write edge indexes (to test area)
writes_ddf.to_csv(f'{ROOT_DATA_DIR}/demo-load/writes-*.csv', 
                      header_first_partition_only=True, index=False, scheduler="processes")

/home/ubuntu/.conda/envs/graph2/lib/python3.9/site-packages/dask/dataframe/io/csv.py:916: FutureWarning: The 'scheduler' keyword argument for `to_csv()` is deprecated andwill be removed in a future version. Please use the `compute_kwargs` argument instead. For example, df.to_csv(..., compute_kwargs={scheduler: processes})
  warn(

['/data/demo-load/writes-00.csv',
 '/data/demo-load/writes-01.csv',
 '/data/demo-load/writes-02.csv',
 '/data/demo-load/writes-03.csv',
 '/data/demo-load/writes-04.csv',
 '/data/demo-load/writes-05.csv',
 '/data/demo-load/writes-06.csv',
 '/data/demo-load/writes-07.csv',
 '/data/demo-load/writes-08.csv',
 '/data/demo-load/writes-09.csv',
 '/data/demo-load/writes-10.csv',
 '/data/demo-load/writes-11.csv',
 '/data/demo-load/writes-12.csv',
 '/data/demo-load/writes-13.csv',
 '/data/demo-load/writes-14.csv',
 '/data/demo-load/writes-15.csv',
 '/data/demo-load/writes-16.csv',
 '/data/demo-load/writes-17.csv',
 '/data/demo-load/writes-18.csv',
 '/data/demo-load/writes-19.csv',
 '/data/demo-load/writes-20.csv',
 '/data/demo-load/writes-21.csv',
 '/data/demo-load/writes-22.csv',
 '/data/demo-load/writes-23.csv',
 '/data/demo-load/writes-24.csv',
 '/data/demo-load/writes-25.csv',
 '/data/demo-load/writes-26.csv',
 '/data/demo-load/writes-27.csv',
 '/data/demo-load/writes-28.csv',
 '/data/demo-load/writes-29.csv',
 '/data/demo-load/writes-30.csv',
 '/data/demo-load/writes-31.csv',
 '/data/demo-load/writes-32.csv',
 '/data/demo-load/writes-33.csv',
 '/data/demo-load/writes-34.csv',
 '/data/demo-load/writes-35.csv',
 '/data/demo-load/writes-36.csv',
 '/data/demo-load/writes-37.csv',
 '/data/demo-load/writes-38.csv',
 '/data/demo-load/writes-39.csv',
 '/data/demo-load/writes-40.csv',
 '/data/demo-load/writes-41.csv',
 '/data/demo-load/writes-42.csv',
 '/data/demo-load/writes-43.csv',
 '/data/demo-load/writes-44.csv',
 '/data/demo-load/writes-45.csv',
 '/data/demo-load/writes-46.csv',
 '/data/demo-load/writes-47.csv',
 '/data/demo-load/writes-48.csv',
 '/data/demo-load/writes-49.csv',
 '/data/demo-load/writes-50.csv',
 '/data/demo-load/writes-51.csv',
 '/data/demo-load/writes-52.csv',
 '/data/demo-load/writes-53.csv',
 '/data/demo-load/writes-54.csv',
 '/data/demo-load/writes-55.csv',
 '/data/demo-load/writes-56.csv',
 '/data/demo-load/writes-57.csv',
 '/data/demo-load/writes-58.csv',
 '/data/demo-load/writes-59.csv',
 '/data/demo-load/writes-60.csv',
 '/data/demo-load/writes-61.csv',
 '/data/demo-load/writes-62.csv',
 '/data/demo-load/writes-63.csv',
 '/data/demo-load/writes-64.csv',
 '/data/demo-load/writes-65.csv',
 '/data/demo-load/writes-66.csv',
 '/data/demo-load/writes-67.csv',
 '/data/demo-load/writes-68.csv',
 '/data/demo-load/writes-69.csv',
 '/data/demo-load/writes-70.csv',
 '/data/demo-load/writes-71.csv',
 '/data/demo-load/writes-72.csv',
 '/data/demo-load/writes-73.csv',
 '/data/demo-load/writes-74.csv',
 '/data/demo-load/writes-75.csv',
 '/data/demo-load/writes-76.csv',
 '/data/demo-load/writes-77.csv',
 '/data/demo-load/writes-78.csv',
 '/data/demo-load/writes-79.csv',
 '/data/demo-load/writes-80.csv',
 '/data/demo-load/writes-81.csv',
 '/data/demo-load/writes-82.csv',
 '/data/demo-load/writes-83.csv',
 '/data/demo-load/writes-84.csv',
 '/data/demo-load/writes-85.csv',
 '/data/demo-load/writes-86.csv',
 '/data/demo-load/writes-87.csv',
 '/data/demo-load/writes-88.csv',
 '/data/demo-load/writes-89.csv',
 '/data/demo-load/writes-90.csv',
 '/data/demo-load/writes-91.csv',
 '/data/demo-load/writes-92.csv',
 '/data/demo-load/writes-93.csv',
 '/data/demo-load/writes-94.csv',
 '/data/demo-load/writes-95.csv',
 '/data/demo-load/writes-96.csv',
 '/data/demo-load/writes-97.csv',
 '/data/demo-load/writes-98.csv',
 '/data/demo-load/writes-99.csv']

In [7]:
# get nodes out and deduped
authors_ddf = writes_ddf.drop([":END_ID"], axis=1).drop_duplicates(subset=[":START_ID"]).repartition(npartitions=100)\
 .rename(columns={":START_ID":"ogbIndex:ID"})
authors_ddf.compute()

           ogbIndex:ID
0          10000000000
13         10000000001
27         10000000002
190        10000000003
212        10000000004
...                ...
386022715  10122383107
386022716  10122383108
386022717  10122383109
386022718  10122383110
386022719  10122383111

[122383112 rows x 1 columns]

In [8]:
# write nodes
authors_ddf.to_csv(f'{ROOT_DATA_DIR}/demo-load/authors-*.csv', 
                      header_first_partition_only=True, index=False, scheduler="processes")

['/data/demo-load/authors-00.csv',
 '/data/demo-load/authors-01.csv',
 '/data/demo-load/authors-02.csv',
 '/data/demo-load/authors-03.csv',
 '/data/demo-load/authors-04.csv',
 '/data/demo-load/authors-05.csv',
 '/data/demo-load/authors-06.csv',
 '/data/demo-load/authors-07.csv',
 '/data/demo-load/authors-08.csv',
 '/data/demo-load/authors-09.csv',
 '/data/demo-load/authors-10.csv',
 '/data/demo-load/authors-11.csv',
 '/data/demo-load/authors-12.csv',
 '/data/demo-load/authors-13.csv',
 '/data/demo-load/authors-14.csv',
 '/data/demo-load/authors-15.csv',
 '/data/demo-load/authors-16.csv',
 '/data/demo-load/authors-17.csv',
 '/data/demo-load/authors-18.csv',
 '/data/demo-load/authors-19.csv',
 '/data/demo-load/authors-20.csv',
 '/data/demo-load/authors-21.csv',
 '/data/demo-load/authors-22.csv',
 '/data/demo-load/authors-23.csv',
 '/data/demo-load/authors-24.csv',
 '/data/demo-load/authors-25.csv',
 '/data/demo-load/authors-26.csv',
 '/data/demo-load/authors-27.csv',
 '/data/demo-load/authors-28.csv',
 '/data/demo-load/authors-29.csv',
 '/data/demo-load/authors-30.csv',
 '/data/demo-load/authors-31.csv',
 '/data/demo-load/authors-32.csv',
 '/data/demo-load/authors-33.csv',
 '/data/demo-load/authors-34.csv',
 '/data/demo-load/authors-35.csv',
 '/data/demo-load/authors-36.csv',
 '/data/demo-load/authors-37.csv',
 '/data/demo-load/authors-38.csv',
 '/data/demo-load/authors-39.csv',
 '/data/demo-load/authors-40.csv',
 '/data/demo-load/authors-41.csv',
 '/data/demo-load/authors-42.csv',
 '/data/demo-load/authors-43.csv',
 '/data/demo-load/authors-44.csv',
 '/data/demo-load/authors-45.csv',
 '/data/demo-load/authors-46.csv',
 '/data/demo-load/authors-47.csv',
 '/data/demo-load/authors-48.csv',
 '/data/demo-load/authors-49.csv',
 '/data/demo-load/authors-50.csv',
 '/data/demo-load/authors-51.csv',
 '/data/demo-load/authors-52.csv',
 '/data/demo-load/authors-53.csv',
 '/data/demo-load/authors-54.csv',
 '/data/demo-load/authors-55.csv',
 '/data/demo-load/authors-56.csv',
 '/data/demo-load/authors-57.csv',
 '/data/demo-load/authors-58.csv',
 '/data/demo-load/authors-59.csv',
 '/data/demo-load/authors-60.csv',
 '/data/demo-load/authors-61.csv',
 '/data/demo-load/authors-62.csv',
 '/data/demo-load/authors-63.csv',
 '/data/demo-load/authors-64.csv',
 '/data/demo-load/authors-65.csv',
 '/data/demo-load/authors-66.csv',
 '/data/demo-load/authors-67.csv',
 '/data/demo-load/authors-68.csv',
 '/data/demo-load/authors-69.csv',
 '/data/demo-load/authors-70.csv',
 '/data/demo-load/authors-71.csv',
 '/data/demo-load/authors-72.csv',
 '/data/demo-load/authors-73.csv',
 '/data/demo-load/authors-74.csv',
 '/data/demo-load/authors-75.csv',
 '/data/demo-load/authors-76.csv',
 '/data/demo-load/authors-77.csv',
 '/data/demo-load/authors-78.csv',
 '/data/demo-load/authors-79.csv',
 '/data/demo-load/authors-80.csv',
 '/data/demo-load/authors-81.csv',
 '/data/demo-load/authors-82.csv',
 '/data/demo-load/authors-83.csv',
 '/data/demo-load/authors-84.csv',
 '/data/demo-load/authors-85.csv',
 '/data/demo-load/authors-86.csv',
 '/data/demo-load/authors-87.csv',
 '/data/demo-load/authors-88.csv',
 '/data/demo-load/authors-89.csv',
 '/data/demo-load/authors-90.csv',
 '/data/demo-load/authors-91.csv',
 '/data/demo-load/authors-92.csv',
 '/data/demo-load/authors-93.csv',
 '/data/demo-load/authors-94.csv',
 '/data/demo-load/authors-95.csv',
 '/data/demo-load/authors-96.csv',
 '/data/demo-load/authors-97.csv',
 '/data/demo-load/authors-98.csv',
 '/data/demo-load/authors-99.csv']

## Prepare Institution Data

In [9]:
#get edge index into dask df
affiliated_with_ddf = dd.from_pandas(pd.DataFrame(dataset.edge_index('author', 'institution').T, 
                                columns = [":START_ID",":END_ID"]), npartitions=100)

In [10]:
# offset author and institution index (start id)
affiliated_with_ddf[':START_ID'] = affiliated_with_ddf[':START_ID'] + AUTHOR_ID_OFFSET
affiliated_with_ddf[':END_ID'] = affiliated_with_ddf[':END_ID'] + INSTITUTION_ID_OFFSET
affiliated_with_ddf.compute()

            :START_ID      :END_ID
0         10000000002  20000000000
1         10000000003  20000000000
2         10000000004  20000000245
3         10000000009  20000000001
4         10000000010  20000000002
...               ...          ...
44592581  10122383075  20000000641
44592582  10122383082  20000000720
44592583  10122383086  20000000577
44592584  10122383094  20000004054
44592585  10122383104  20000008955

[44592586 rows x 2 columns]

In [11]:
# write edge indexes (to test area)
affiliated_with_ddf.to_csv(f'{ROOT_DATA_DIR}/demo-load/affiliated_with-*.csv', 
                      header_first_partition_only=True, index=False, scheduler="processes")

['/data/demo-load/affiliated_with-00.csv',
 '/data/demo-load/affiliated_with-01.csv',
 '/data/demo-load/affiliated_with-02.csv',
 '/data/demo-load/affiliated_with-03.csv',
 '/data/demo-load/affiliated_with-04.csv',
 '/data/demo-load/affiliated_with-05.csv',
 '/data/demo-load/affiliated_with-06.csv',
 '/data/demo-load/affiliated_with-07.csv',
 '/data/demo-load/affiliated_with-08.csv',
 '/data/demo-load/affiliated_with-09.csv',
 '/data/demo-load/affiliated_with-10.csv',
 '/data/demo-load/affiliated_with-11.csv',
 '/data/demo-load/affiliated_with-12.csv',
 '/data/demo-load/affiliated_with-13.csv',
 '/data/demo-load/affiliated_with-14.csv',
 '/data/demo-load/affiliated_with-15.csv',
 '/data/demo-load/affiliated_with-16.csv',
 '/data/demo-load/affiliated_with-17.csv',
 '/data/demo-load/affiliated_with-18.csv',
 '/data/demo-load/affiliated_with-19.csv',
 '/data/demo-load/affiliated_with-20.csv',
 '/data/demo-load/affiliated_with-21.csv',
 '/data/demo-load/affiliated_with-22.csv',
 '/data/demo-load/affiliated_with-23.csv',
 '/data/demo-load/affiliated_with-24.csv',
 '/data/demo-load/affiliated_with-25.csv',
 '/data/demo-load/affiliated_with-26.csv',
 '/data/demo-load/affiliated_with-27.csv',
 '/data/demo-load/affiliated_with-28.csv',
 '/data/demo-load/affiliated_with-29.csv',
 '/data/demo-load/affiliated_with-30.csv',
 '/data/demo-load/affiliated_with-31.csv',
 '/data/demo-load/affiliated_with-32.csv',
 '/data/demo-load/affiliated_with-33.csv',
 '/data/demo-load/affiliated_with-34.csv',
 '/data/demo-load/affiliated_with-35.csv',
 '/data/demo-load/affiliated_with-36.csv',
 '/data/demo-load/affiliated_with-37.csv',
 '/data/demo-load/affiliated_with-38.csv',
 '/data/demo-load/affiliated_with-39.csv',
 '/data/demo-load/affiliated_with-40.csv',
 '/data/demo-load/affiliated_with-41.csv',
 '/data/demo-load/affiliated_with-42.csv',
 '/data/demo-load/affiliated_with-43.csv',
 '/data/demo-load/affiliated_with-44.csv',
 '/data/demo-load/affiliated_with-45.csv',
 '/data/demo-load/affiliated_with-46.csv',
 '/data/demo-load/affiliated_with-47.csv',
 '/data/demo-load/affiliated_with-48.csv',
 '/data/demo-load/affiliated_with-49.csv',
 '/data/demo-load/affiliated_with-50.csv',
 '/data/demo-load/affiliated_with-51.csv',
 '/data/demo-load/affiliated_with-52.csv',
 '/data/demo-load/affiliated_with-53.csv',
 '/data/demo-load/affiliated_with-54.csv',
 '/data/demo-load/affiliated_with-55.csv',
 '/data/demo-load/affiliated_with-56.csv',
 '/data/demo-load/affiliated_with-57.csv',
 '/data/demo-load/affiliated_with-58.csv',
 '/data/demo-load/affiliated_with-59.csv',
 '/data/demo-load/affiliated_with-60.csv',
 '/data/demo-load/affiliated_with-61.csv',
 '/data/demo-load/affiliated_with-62.csv',
 '/data/demo-load/affiliated_with-63.csv',
 '/data/demo-load/affiliated_with-64.csv',
 '/data/demo-load/affiliated_with-65.csv',
 '/data/demo-load/affiliated_with-66.csv',
 '/data/demo-load/affiliated_with-67.csv',
 '/data/demo-load/affiliated_with-68.csv',
 '/data/demo-load/affiliated_with-69.csv',
 '/data/demo-load/affiliated_with-70.csv',
 '/data/demo-load/affiliated_with-71.csv',
 '/data/demo-load/affiliated_with-72.csv',
 '/data/demo-load/affiliated_with-73.csv',
 '/data/demo-load/affiliated_with-74.csv',
 '/data/demo-load/affiliated_with-75.csv',
 '/data/demo-load/affiliated_with-76.csv',
 '/data/demo-load/affiliated_with-77.csv',
 '/data/demo-load/affiliated_with-78.csv',
 '/data/demo-load/affiliated_with-79.csv',
 '/data/demo-load/affiliated_with-80.csv',
 '/data/demo-load/affiliated_with-81.csv',
 '/data/demo-load/affiliated_with-82.csv',
 '/data/demo-load/affiliated_with-83.csv',
 '/data/demo-load/affiliated_with-84.csv',
 '/data/demo-load/affiliated_with-85.csv',
 '/data/demo-load/affiliated_with-86.csv',
 '/data/demo-load/affiliated_with-87.csv',
 '/data/demo-load/affiliated_with-88.csv',
 '/data/demo-load/affiliated_with-89.csv',
 '/data/demo-load/affiliated_with-90.csv',
 '/data/demo-load/affiliated_with-91.csv',
 '/data/demo-load/affiliated_with-92.csv',
 '/data/demo-load/affiliated_with-93.csv',
 '/data/demo-load/affiliated_with-94.csv',
 '/data/demo-load/affiliated_with-95.csv',
 '/data/demo-load/affiliated_with-96.csv',
 '/data/demo-load/affiliated_with-97.csv',
 '/data/demo-load/affiliated_with-98.csv',
 '/data/demo-load/affiliated_with-99.csv']

In [12]:
# get nodes out and deduped
institutions_ddf = affiliated_with_ddf.drop([":START_ID"], axis=1)\
    .drop_duplicates(subset=[":END_ID"]).rename(columns={":END_ID":"ogbIndex:ID"})
institutions_ddf.compute()

          ogbIndex:ID
0         20000000000
2         20000000245
3         20000000001
4         20000000002
7         20000000557
...               ...
44405762  20000025715
44493495  20000025716
44502203  20000025717
44508070  20000025718
44576465  20000025720

[25721 rows x 1 columns]

In [13]:
# write nodes
institutions_ddf.to_csv(f'{ROOT_DATA_DIR}/demo-load/institution-*.csv', 
                      header_first_partition_only=True, index=False, scheduler="processes")

['/data/demo-load/institution-0.csv']